* {box-sizing: border-box}

/* Slideshow container */
.slideshow-container {
  position: relative;
  background: #f1f1f1f1;
}

/* Slides */
.mySlide {
  display: none;
  padding: 80px;
  text-align: center;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -30px;
  padding: 16px;
  color: #888;
  font-weight: bold;
  font-size: 20px;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  position: absolute;
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: #0be881;
  color: white;
}

/* The dot/bullet/indicator container */
.dot-container {
    text-align: center;
    padding: 20px;
    background: #808e9b;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

/* Add a background color to the active dot/circle */
.active, .dot:hover {
  background-color: #0be881;
}


.challange-heading {
    text-align: center;
    text-shadow:2px 2px 10px #05c46b;
    color:#05c46b;
    font-size: 4rem;;
}

.challenge-btn{
    margin-top:50px;
    padding:1%;
    transition-duration: 0.4s;
    background-color: white;
    color: black;
    border: 2px solid #0be881; /* Green */
}

.challenge-btn:hover {
    background-color: #05c46b; /* Green */
    color: white;
  }


@media screen and (max-width:1200px) {
    .challange-heading {
        text-align: center;
        font-size: 2rem;;
    }

    .challenge-btn{
        margin-top:20px;
        padding:3%;
    }
    
}